astroid==2.4.2
async-generator==1.10
async-lru==1.0.2
asyncio==3.4.3
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
colorama==0.4.4
comtypes==1.1.7
fake-useragent==0.1.11
Faker==5.0.2
func-timeout==4.3.5
idna==2.10
isort==5.6.4
lazy-object-proxy==1.4.3
mccabe==0.6.1
MouseInfo==0.1.3
natsort==7.1.0
numpy==1.19.4
pexpect==4.8.0
Pillow==8.0.1
psutil==5.8.0
ptyprocess==0.6.0
pyaes==1.6.1
pyasn1==0.4.8
PyAutoGUI==0.9.52
pygame==2.0.1
PyGetWindow==0.0.9
pylint==2.6.0
PyMsgBox==1.0.9
pyperclip==1.8.1
PyRect==0.1.4
Pyrogram==1.0.7
PyScreeze==0.1.26
PySocks==1.7.1
python-dateutil==2.8.1
python-dotenv==0.15.0
PyTweening==1.0.3
pytz==2020.5
requests==2.25.0
rsa==4.6
six==1.15.0
soupsieve==2.1
spark-parser==1.8.9
Telethon==1.18.2
text-unidecode==1.3
TgCrypto==1.2.2
toml==0.10.2
uncompyle6==3.7.4
urllib3==1.26.2
wrapt==1.12.1
xdis==5.0.6
